#top-sales{
    height: 250px;
    background-color: white;
}

#top-sales h1{
    color: #FD7578;
    font-size: 55px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.